<!DOCTYPE html>
<html>
<head>
	<title>{% block page_name %}{% endblock %}| Bookworm</title>
	
	<link rel = "icon" type = "image/png" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmdgdUn6Dgp_J2SIXRsm1nvkXDrTXr0_1zshIv2-A_wmx9K5Xk">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
	<div class="content">
		<nav class="navbar navbar-dark bg-dark">
		  	<div class="navbar-brand text-monospace">
	    		<img src="https://nation.com.pk/digital_images/medium/2016-10-02/literature-vs-science-each-discipline-exerts-a-unique-influence-on-the-other-1475430314-1069.png" width="35" height="35" style="border-radius: 8px">
	    		book<b>Worm</b>
	  		</div>
	  		{% block menu_options %}
	  		{% endblock %}
		</nav>

		{% block body %}{% endblock %}
	</div>

	<footer>
        <div class="container-fluid">
          <div class="row bg-dark">
            <div class="col-md-6 text-monospace" style="color: white">
              <i>&copy Muttashim Sarkar</i>
            </div>
            <div class="icons col-md-6">
              <a href="https://www.facebook.com/Muttashimsarkar" target="_blank">
                <i class="float-right fab fa-facebook-f fa-2x" style="color: white;padding-right: 20px;"></i>
              </a>
              <a href="https://github.com/Muttashim" target="_blank">
                <i class="float-right fab fa-github fa-2x" style="color: white;padding-right: 20px;"></i>
              </a>
              <a href="https://www.linkedin.com/in/muttashim-sarkar-750597159/" target="_blank">
                <i class="float-right fab fa-linkedin-in fa-2x" style="color: white;padding-right: 20px;"></i>
              </a>
            </div>
          </div>
        </div>
     </footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>